nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background: #800080 !important;
}
h5 {
    color: purple;
    font-size: 15px;
}
.add-more{
    background: #900080;
    border: #900080;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 4px;
}
.footer{
    background: #900080;
    color: #fff;
    padding: 40px;
}

.footer h5 {
    color: white;
    font-size: 15px;
}

.footer a {
    color: white;
    font-size: 15px;
}
.bg-password-image{
    background: url('../img/nest_forgot_password_dribbble.gif') no-repeat;
    background-size: cover;
}
.bg-login-image{
    background: url('../img/login.gif') no-repeat;
    background-size: cover;
}
